<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HttpServerURL</key>
	<string>http://pili-livedemo.qiniu.com</string>
	<key>ChatRoomWebsocketURL</key>
	<string>http://pili-livedemo.qiniu.com</string>
	<key>WechatAppID</key>
	<string>wxc8db39b6481b395b</string>
	<key>ImageDomain</key>
	<string>live-avatar.qbox.net</string>
</dict>
</plist>
